# Server Configuration
NODE_ENV=development
PORT=3000

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=



MONGODB_URI=mongodb://localhost:27017
# Or use MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net


IMAGEKIT_PUBLIC_KEY=your-imagekit-public-key
IMAGEKIT_PRIVATE_KEY=your-imagekit-private-key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your-id

# Redis Configuration (Optional - for caching)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# CORS Configuration


